/* PHASE 3: Layout */
.content {
    display: flex;
    background-color: white;
    width: 900px;
    margin: auto;
}

section {
    min-height: 200px;
    border: 1px solid lightgray;
}

.content-sidebar {
    width: 30%;
}

.content-main {
    width: 70%;
}